# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Access desktop (Electron)
hardware/access-desktop/node_modules/
hardware/access-desktop/dist/
hardware/access-desktop/config.json

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store

# Env
.env
.env.local
